<app-cabecera></app-cabecera>

<mat-card>
    <mat-card-title>Examen</mat-card-title>

    <div class="row">
        <div class="col-md-4">
            <app-listado-de-asignaturas (materiaSeleccionada)="enviarMateriaSeleccionada($event)" [materias]="this.materias"></app-listado-de-asignaturas>

        </div>
        <div class="col-md-4">
            <app-listado-de-aprobacion-directa [detalleMaterias]="this.materiaSeleccionada"></app-listado-de-aprobacion-directa>

        </div>
        <div class="col-md-4">
            <app-listado-no-directa [detalleMaterias]="this.materiaSeleccionada"></app-listado-no-directa>

        </div>
    </div>

</mat-card>

<app-footer></app-footer>