<mat-toolbar color="primary">
    <section>
      <button mat-button class="logo" (click)="Router('Home')">
        <span>Academia</span>
      </button>
      <!-- <button mat-button class="logo" (click)="Router('registro')">
        <span>Registro</span>
      </button> -->
      <button [hidden]="!esAdmin" mat-button class="logo" (click)="Router('materia')">
        <span>Materia</span>
      </button>
      <button [hidden]="!esAdmin" mat-button class="logo" (click)="Router('usuario')">
        <span>Usuario</span>
      </button>
      <button [hidden]="!esAdmin" mat-button class="logo" (click)="Router('alumno')">
        <span>Alumnos</span>
      </button>
      <button [hidden]="!esAlumno" mat-button class="logo" (click)="Router('materiaAlum')">
        <span>Materias</span>
      </button>
      <button [hidden]="!esProfesor" mat-button class="logo" (click)="Router('materiaProf')">
        <span>Materias</span>
      </button>
  
      <div class="MenuButton">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
          <mat-icon>menu</mat-icon>
        </button>
      
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="Router('Salir')">
            <mat-icon>power_settings_new</mat-icon>
            <span>LogOut</span>
          </button>
        </mat-menu>
      </div>
    </section>
  </mat-toolbar>